<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <%- include('../partials/head'); %>
    </head>

    <title>SocialNet</title>
</head>

<body>
    
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="box">
                        <h1>Bienvenido</h1>
                        <p class="text-muted"> Ingrese su Correo y Contraseña</p>
                        <input id="emailUser" type="email" name="" placeholder="Email">
                        <input id="passwordUser" type="password" name="" placeholder="Contraseña">
                        <a class="forgot text-muted" href="/singIn">Crear Cuenta</a>
                        <input type="button" onclick="loginUser()" name="" value="Entrar" >
                        <div class="col-md-12">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="./scripts/login.js"></script>

</html>